<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Car List</title>
</head>
<body>
    <h1>Car List</h1>
    <table>
        <thead>
            <tr>
                <th>VIN</th>
                <th>Model</th>
                <th>Car Type</th>
                <th>Colour</th>
                <th>Owner Name</th>
                <!-- Add more columns if needed -->
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car['VIN'] }}</td>
                <td>{{ car['Model'] }}</td>
                <td>{{ car['Car_type'] }}</td>
                <td>{{ car['Colour'] }}</td>
                <td>{{ car['OwnerName'] }}</td>
                <!-- Add more cells if needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
