<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Mobile</th>
                
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.Cid }}</td>
                <td>{{ customer.Cname }}</td>
                <td>{{ customer.Phone }}</td>
                <td>{{ customer.Address }}</td>
                <td>{{ customer.Mobile }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
