<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR RENTAL SYSTEM</title>
</head>
<body>
    <h1>WELCOME TO CAR RENTAL SYSTEM</h1>
    
    <!-- Button to view cars table -->
    <form action="/view_cars" method="get">
        <button type="submit">View Cars Table</button>
    </form>

    <!-- Button to view customers table -->
    <form action="/view_customers" method="get">
        <button type="submit">View Customers Table</button>
    </form>

    <!-- Button to view locations table -->
    <form action="/view_locations" method="get">
        <button type="submit">View Locations Table</button>
    </form>

    <!-- Button to view owners table -->
    <form action="/view_owners" method="get">
        <button type="submit">View Owners Table</button>
    </form>

    <!-- Button to view picks_from table -->
    <form action="/view_pickups" method="get">
        <button type="submit">View Picks From Table</button>
    </form>

    <!-- Button to view reservations table -->
    <form action="/view_reservations" method="get">
        <button type="submit">View Reservations Table</button>
    </form>
   <!-- Button to insert into cars table -->
    <form action="/insert_cars" method="get">
        <button type="submit">Insert into Cars Table</button>
    </form>
    <!-- Button to insert into customers table -->
    <form action="/insert_customers" method="get">
        <button type="submit">Insert into Customers Table</button>
    </form>
    <!-- Button to insert into locations table -->
    <form action="/insert_locations" method="get">
        <button type="submit">Insert into Location Table</button>
    </form>
    <!-- Button to insert into owners table -->
    <form action="/insert_owners" method="get">
        <button type="submit">Insert into Owners Table</button>
    </form>
    <!-- Button to insert into reservations table -->
    <form action="/insert_reservations" method="get">
        <button type="submit">Insert into Reservations Table</button>
    </form>


</body>
</html>
    