<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Car</title>
</head>
<body>
    <h1>Insert Car</h1>
    <form method="post">
        <label for="VIN">VIN:</label><br>
        <input type="text" id="vin" name="vin" required><br>     
        <label for="Model">Model:</label><br>
        <input type="text" id="model" name="model" required><br>         
        <label for="Car_type">Car Type:</label><br>
        <input type="text" id="car_type" name="car_type" required><br>         
        <label for="Colour">Colour:</label><br>
        <input type="text" id="colour" name="colour" required><br>         
        <label for="OwnerName">Owner Name:</label><br>
        <input type="text" id="owner_name" name="owner_name" required><br><br>         
        <input type="submit" value="Submit">
    </form> 
</body>
</html>
