<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Reservations</title>
</head>
<body>
    <h1>Reservations</h1>
    <table border="1">
        <tr>
            <th>Reservation Number</th>
            <th>Reservation Date</th>
            <th>Customer ID</th>
            <th>Vehicle Identification Number (VIN)</th>
            <th>Location ID</th>
        </tr>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.Res_num }}</td>
            <td>{{ reservation.Res_date }}</td>
            <td>{{ reservation.Cid }}</td>
            <td>{{ reservation.VIN }}</td>
            <td>{{ reservation.Loc_id }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
